<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const USERNAME = "<%= user.name %>"
        const USEREMAIL = "<%= user.email %>"
     </script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="/socket.io/socket.io.js" defer></script>
   <link rel="stylesheet" href="style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <script src="chatbox.js" defer></script>
</head>
<body>
   <div class="main">
       <div class="main__left" style="flex: 0.5;">
           <div class = "header">
               <div class = "profileInfo">
                    <img class = "dp" src="<%= user.picture %>" alt="profile picture">
                    <span class = "profileName"><%= user.name %></span>
               </div>
               <span> <a href="/logout">Sign Out</a>  </span>
           </div>

           <div class="RoomIdGrid"> <!-- work here --></div>   
                  
            
        
           
       </div>
      
        <div class="chat_box" style="flex: 0.5;">
            <div class="main__header">
                <h5>Meeting Chat</h5>
            </div>
            <div class="main__inner_window">
                <ul class="messages">
                    
                </ul>

            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" placeholder="Type message here...">
            </div>
        </div>
        <div class = "participant_box">
            <div class="main__header">
                <h5>Participants</h5>
            </div>
            <div class="main__inner_window">
                <ul class="list">
                    
                </ul>

            </div>
        </div>
   </div>
</body>
</html>
